<% layout('layouts/boilerplate') %>

<h1>Edit Cozy Home</h1>
<form action="/cozyhomes/<%=cozyhome._id%>?_method=PUT" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="cozyhome[title]" id="title" value="<%=cozyhome.title%>">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="cozyhome[location]" id="location" value="<%=cozyhome.location%>">
    </div>
    <button>Save</button>
</form>
<a href="/cozyhomes/<%= cozyhome._id %>">Back to Cozy Home</a>
<a href="/cozyhomes">All Cozy Homes</a>