<% layout('layouts/boilerplate') %>
<div><a href="/cozyhomes/new">Add Cozy Home</a></div>
<h1>All Cozy Homes</h1>
<ul>
    <% for (let cozyhome of cozyhomes) {%>
        <li><a href="/cozyhomes/<%= cozyhome._id %>"><%= cozyhome.title %></a></li>
    <%}%>
</ul>
