<% layout('layouts/boilerplate') %>

<form action="/cozyhomes" method="POST">
    <div>
        <label for="title">Title</label>
        <input type="text" name="cozyhome[title]" id="title">
    </div>
    <div>
        <label for="location">Location</label>
        <input type="text" name="cozyhome[location]" id="location">
    </div>
    <button>Add Cozy Home</button>
</form>
<a href="/cozyhomes">All Cozy Homes</a>